<br><br>
<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col">
            <p class="text-end" style="float:right;">
                <span>Hola {{persona}}!</span>
                <a href="/admin/login/logout" class="btn btn-sm btn-outline-secondary">CERRAR SESION<i
                        class="fas fa-sign-out-alt" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

</div>