<header>
    <section class="banner">
        <div class="banner-content>
        <h2>" Para crear, primero hay que cuestionarlo todo."</h2>
            <p>Eileen Gray.</p>
        </div>
    </section>
</header>

<div class="container-fluid scroll_section" id="referents">
    <div id="nuestros referentes" class="row align-items-stretch my-2 staff py-4">
        <div class="col-lg-8 offset-lg-2">
            <h3>Nuestros Referentes</h3>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card h-80">
                        <img src="images/normanfoster3.jfif" class="card-img-top" alt="Norman Foster" width="450px"
                            height="450px">
                        <div class="card-body">
                            <h5 class="card-title">Norman Foster</h5>
                            <p class="card-text">Tenemos que agradecer a sus orígenes humildes que Norman Foster se haya
                                convertido
                                en el arquitecto estrella, abrirse a nuevas perspectivas y llegar a la
                                arquitectura. </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-80">
                        <img src="images/Le_Corbusier.webp" class="card-img-top" alt="Le Corbusier" width="450px"
                            height="450px">
                        <div class="card-body">
                            <h5 class="card-title">Le Corbusier</h5>
                            <p class="card-text">Siempre ha sido el más moderno, fructífero y libre, un Picasso de la
                                arquitectura capaz de reinventarse plástica y conceptualmente en su vida. 17 obras suyas
                                son Patrimonio de la Humanidad.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-80">
                        <img src="images/Zaha_Hadid.jpg" class="card-img-top" alt="Zara Hadid" width="450px"
                            height="450px">
                        <div class="card-body">
                            <h5 class="card-title">Zara Hadid</h5>
                            <p class="card-text">Fue la primera arquitecta en conseguir el Premio Pritzker.Trató de
                                romper los
                                límites de la arquitectura, conectando edificios y ciudades, abriendo puertas a formas
                                más expresivas
                                de construir.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-80">
                        <img src="images/Jean-Nouvel.jpg" class="card-img-top" alt="Jean Nouvel" width="450px"
                            height="450px">
                        <div class="card-body">
                            <h5 class="card-title">Jean Nouvel</h5>
                            <p class="card-text">Se reivindica como un arquitecto de contextos, atento a la geografía,
                                la historia y
                                la climatología del lugar. “La arquitectura no es una cuestión de estilo, es una
                                cuestión de sentido”.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="quienes somos" class="row align-items-center quien py-4 scroll_section">
        <div class="col-lg-4 col-md-6 offset-lg-2 sm-12">
            <img src="images/1.jpg" alt="historia 1" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
            <h5>Un poco sobre</h5>
            <h2>Quiénes somos...</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus cupiditate dolorum non dolor?
                Adipisci,
                odio molestias dolorem ea eos minus autem praesentium explicabo cupiditate error numquam, necessitatibus
                voluptatem deserunt. Maxime.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus cupiditate dolorum non dolor?
                Adipisci,
                odio molestias dolorem ea eos minus autem praesentium explicabo cupiditate error numquam, necessitatibus
                voluptatem deserunt. Maxime.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus cupiditate dolorum non dolor?
                Adipisci,
                odio molestias dolorem ea eos minus autem praesentium explicabo cupiditate error numquam, necessitatibus
                voluptatem deserunt. Maxime.</p>
        </div>
    </div>
 <div class="card proyecticon scroll_section" style="width: 18rem;">
        <img src="images/20.jpg" class="card-img-top" alt="casas" width="150px"
          height="150px">
        <div class="card-body">
          <a href="#" class="btn btn-dark stretched-link">CASAS</a>
        </div>
      </div>
      <div class="card proyecticon" style="width: 18rem;">
        <img src="images/4.jpg" class="card-img-top" alt="locales/oficinas" width="150px"
          height="150px">
        <div class="card-body">
          <a href="#" class="btn btn-dark stretched-link">LOCALES/OFICINAS</a>
        </div>
      </div>
      <div class="card proyecticon" style="width: 18rem;">
        <img src="images/restoring5.jpg" class="card-img-top" alt="restauraciones" width="150px"
          height="150px">
        <div class="card-body">
          <a href="#" class="btn btn-dark stretched-link">RESTAURACIONES</a>
        </div>
      </div>

       <div class="card mb-3 scroll_section container-fluid" style="width: 1110px;" height="300px" id="servicio1">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="images/antes cocina.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title">"La arquitectura es el arte de gastar el espacio." Philip Johnson</h5>
              <p class="card-text">REFORMAS Y AMPLIACIONES, cambios de distribución de los ambientes, son soluciones a
                medida. Pueden mejorar la calidad de vida y actualizar el valor de mercado del inmueble.
                Transformar, reformar o ampliar tu casa, es la combinación perfecta entre tu estilo personal y nuestros
                conocimientos.
                Además de los aspectos del diseño, nos encargamos de gestionar los permisos, valorar la integridad
                estructural del edificio, mejorar las instalaciones y supervisar la ejecución de la obra.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="images/despues cocina.jpg" class="img-fluid rounded-end" alt="...">
          </div>
        </div>
      </div>

      <div class="card mb-3 scroll_section container-fluid" style="width: 1110px;" height="300px" id="servicio2">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="images/obra2.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title">"Un arquitecto es un dibujante de sueños." Grace McGarvi</h5>
              <p class="card-text">PROYECTO ARQUITECTÓNICO. En la base de nuestra arquitectura existe un profundo
                compromiso por integrar un diseño extraordinario con soluciones estructurales pragmáticas y sistemas
                eficaces.
                Nos impulsa la curiosidad, siempre explorando formas innovadoras de resolver problemas. Nuestra
                arquitectura pretende aportar un valor simbólico, proyectamos edificaciones únicas y asequibles con un
                impacto social positivo. Combinamos el arte y la ciencia para proporcionar espacios que dan cobijo a
                todo tipo de experiencias humanas.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="images/obra3.jpg" class="img-fluid rounded-end" alt="...">
          </div>
        </div>
      </div>

      <div class="card mb-3 scroll_section container-fluid" style="width: 1110px;" height="300px" id="servicio3">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="images/5.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title">"El mundo no es un ángulo recto." Zaha Hadid</h5>
              <p class="card-text">GESTIÓN DE TRÁMITES. ACTUALIZACIÓN DE PLANOS. La actualización de los planos de su propiedad y/o para realizar el trámite de ampliación o finalización de obra, es necesario que tengan cualquier modificación en la propiedad actualizados. Por ende, cualquier modificación, demolición o ampliación que cambie la calidad y/o cantidad de metros cuadrados, cubiertos o semicubiertos, incluyendo la colocación o construcción de piscinas, por ejemplo, debe ser declarado en los planos de su vivienda.
                Dichos planos tienen que estar presentados por un profesional matriculado como un arquitecto, con el fin de evitar una multa.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="images/farmacia.jpg" class="img-fluid rounded-end" alt="...">
          </div>
        </div>
      </div>

       <div class="card mb-3 scroll_section container-fluid" style="width: 1110px;" height="300px" id="servicio4">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="images/render1.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title">"La diferencia entre buena y mala arquitectura es el tiempo que pasas en ella." David Chipperfield</h5>
              <p class="card-text">Con el avance de la tecnología, podemos crear tus ideas en 3D, vas a poder visualizar mejor tu sueño transformado en imágenes de renders, sus interiores, su fachada, su jardín.
                También podemos crear videos de recorrido para que puedas tener una imagen más real de cómo se entrelazan tus ambientes soñados.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="images/render2.jpg" class="img-fluid rounded-end" alt="...">
          </div>
        </div>
      </div>

    <div id="contactanos" class="row py-4 scroll_section">
        <div class="col-md-8 offset-md-2">
            <h2>Dónde estamos</h2>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.5845981087673!2d-60.65289982491798!3d-32.935571771328334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab378acaa431%3A0x3634a388a59be5d6!2sJujuy%202136%2C%20S2000AGT%20Rosario%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1687149902413!5m2!1ses!2sar"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
        <br>
        <div class="row py-4 scroll_section" id="contacts">
            <div class="col-md-4 offset-md-2">
                <h2> CONTACTANOS</h2>
                <P> Querés realizarnos una consulta?</P>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p> Whatsapp 341-6xxxxx</p>
                <p> sunroom@hotmail.com</p>
                <p> Instagram xxxxx</p>
            </div>
            <div class="col-md-4 mt-4 mt-sm-0 scroll_section">
                <h2>ESCRIBINOS</h2>
                <form class="row g-3" action="/" method="post">
                    <div class="col-md-12">
                        <label for="inputName" class="form-label">Nombre y Apellido</label>
                        <input type="text" class="form-control" id="inputName" name="nombreyapellido">
                    </div>

                    <div class="col-12">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" name="email">
                    </div>

                    <div class="col-md-6">
                        <label for="inputAddress" class="form-label">Celular</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="sin 0 y sin 15" name="celular">
                    </div>
                    <div class="col-6">
                        <label for="inputCity" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="inputCity" name="ciudad">
                    </div>

                    <div class="col-12">
                        <div class="form-floating">
                            <p>Comentarios</p>
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                style="height: 100px" name="comentario"></textarea>
                        </div>
                        <br>
                        <div class="col-12">
                            <button type="submit" class="btn btn-dark">Enviar</button>
                        </div>
                </form>
                <p>{{message}}</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>