<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SUNROOM ESTUDIO</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/pruebacss.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@400&family=Pacifico&display=swap"
    rel="stylesheet">
</head>

<body>
  <!--<header class="full-width NavBarP">-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="images/logocs.png" alt="Logo" width="60" height="45"
          class="d-inline-block align-textp">
        SUNROOM ESTUDIO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="offcanvasNavbar">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" id="home" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quiénes somos
            </a>
            <ul class="dropdown-menu">

              <li><a class="dropdown-item" href="/#referents">Nuestros referentes</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/#quienes somos">Historia</a></li>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Nuestros Proyectos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/casas">Casas</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/locofi">Locales/Oficinas</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/restauraciones">Restauraciones</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Nuestros Servicios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/#servicio1">Reformas y ampliaciones</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/#servicio2">Proyecto arquitectónico</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/#servicio3">Actualización de planos</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/#servicio4">Diseño de interiores y visualización en 3D</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/#novedades">Novedades</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://forms.gle/EquajbuBsXSYQ23p6" target="_blank">Presupuestos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#contacts">Contactanos</a>

          </li>

        </ul>

      </div>
    </div>
  </nav>
  {{{body}}}

  <footer>
    <p class="text-center">Diseñado por: Celina Scaglione 2023.</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>


</body>

</html>