<br>
<br>
<br>
<br>

<h1  class="text-center">LOCALES Y OFICINAS</h1>
<p class="text-center">SUNROOM STUDIO</p><br>

<h3  class="text-center">FARMACIA SAGRIPANTI</h3>
<br>

<div class="text-center">
  <img src="images/farmacia.jpg" class="rounded" alt="casahyj1" width="455px" height="400px">
</div>
<br>
<br>
<div class="text-center">
  <img src="images/farmacia2.jpg" class="rounded" alt="casahyj2" width="455px" height="400px">
</div>
<br>
<br>
<h3  class="text-center">METALÚRGICA</h3>
<br>
<div class="text-center">
  <img src="images/metalurgica1.jpg" class="rounded" alt="casahyj3" width="455px" height="400px">
</div>
<br>
<br>
<div class="text-center">
  <img src="images/metalurgica2.jpg" class="rounded" alt="casahyj3" width="455px" height="400px">
</div>
<br>
<br>
