html {
   scroll-behavior: smooth;
}

.navbar-brand {
   color: #fff;
   font-size: 18px;
}

.navbar-nav .nav-link {
   color: #fff;
   font-size: 18px;
}

#home {
   color: #fff;
}

.banner {
   margin-top: 3em;
   position: relative;
   width: 100%;

   height: calc(100vh - 50px);
   background-color: #f5f5f5;
   background-size: cover;
   background-position: center;
   transition: all .1s ease-in-out;
   background-image: url(../images/phero1.jpg);
   animation: banner 28s infinite linear;
}

.banner-content {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   color: #fff;
   background-color: rgba(0, 22, 40, .6);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.banner-content h2 {
   margin: 0;
   padding: 0;
   font-size: 40px;
   text-align: center;
   font-family: 'Dosis', sans-serif;
   font-weight: 400;

}

.banner-content p {
   font-family: 'Dancing Script', cursive;
   font-style: oblique;
   font-weight: 500;

}

@keyframes banner {
   0% {
      background-image: url(../images/phero1.jpg);
   }

   25% {
      background-image: url(../images/phero1.jpg);
   }

   26% {
      background-image: url(../images/pher2.jpg);
   }

   50% {
      background-image: url(../images/pher2.jpg);
   }

   51% {
      background-image: url(../images/phero3.jpg);
   }

   75% {
      background-image: url(../images/phero3.jpg);
   }

   76% {
      background-image: url(../images/phero4.jpg);
   }

   100% {
      background-image: url(../images/phero4.jpg);
   }
}

.quien {
   background-image: url(../images/blanco2.webp);
   opacity: 0.70;
   background-size: cover;

}


.quien h5 {
   font-family: 'Dosis', sans-serif;
   font-weight: 400;

}

.quien h2 {
   font-family: 'Dancing Script', cursive;
   font-style: oblique;
   font-weight: 500;
}

.quien p {
   font-family: 'Dosis', sans-serif;
   text-align: justify;
   font-weight: 400;
   font-size: 18px;
}

#referents h3 {
   font-family: 'Dancing Script', cursive;
}

#referents h5 {
   font-family: 'Dosis', sans-serif;
   text-align: center;
}

#referents p {
   font-family: 'Dosis', sans-serif;
   text-align: justify;
   font-weight: 400;
   font-size: 18px;
}


#contenedor-grande {
   background-color: rgb(235, 237, 238);

}

.card.proyecticon {
   margin: 0;
}

.cards-container {
   display: flex;
   justify-content: center;
   gap: 10px;
}


.card-img-top {
   object-fit: cover;
}

.card-text {
   text-align: justify;
}

.card-title {
   text-align: center;
}

#novedades h5 {
   text-align: center;
}

#nnn {
   text-align: justify;
}

.lista-novedades {
   list-style: none;
}

.lista-novedades li {
   margin: 10px 0;
}

.lista-novedades li a {
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #333;
   transition: all .2s ease-in-out;
}

.lista-novedades li a img {
   width: 30px;
   height: 30px;
   margin-right: 10px;
   border-radius: 50%;
   transition: all .2s ease-in-out;
}

.lista-novedades li a:hover {
   background-color: #dadada;
}

.dropdown-menu {
   background-color: lightgray;

}

.lili {
   padding: 10px;

   background-color: transparent;
   font-family: 'Dosis', sans-serif;
}

.lilo {
   padding: 20px;
   opacity: 0.90;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url(../images/render23.jpg);
}

.lila {
   padding: 10px;

   font-family: 'Dosis', sans-serif;
   font-weight: 400;
   background-color: transparent;
   opacity: 0.90;

}

#lilu {
   color: #683903;
}

#liluu {
   color: #683903;
}

#liluuu {
   color: #683903;
}

#liluuuu {
   color: #683903;
}

#a {
   color: #683903;
}

#b {
   color: #683903;
}

#c {
   color: #683903;
}

#d {
   font-family: 'Dosis', sans-serif;
   color: #683903;
   font-weight: bold;

}

.nov {
   font-family: 'Dosis', sans-serif;
   color: #683903;
   font-weight: bold;
}

.btn-marron {
   background-color: #c9ac8b;
   border-color: #8B4513;
   color: #381e01;
   font-weight: bold;
}

#marron {
   background-color: #e6cfb4;
   /*border-color: #8B4513;*/
   color: #554130;
   font-weight: bold;
}

#me {
   color: #180e05;
   font-weight: bold;
}

.custom-brown-btn {
   color: #683903;
   font-weight: bold;
   border-color: #8B4513;
   background-color: #c9ac8b;
}

.custom-brown-btn:hover {
   background-color: #805d3a;
   border-color: #654321;
}

.agrnov {
   padding: 20px;
   opacity: 0.80;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url(../images/render23.jpg);
}

#mod {
   text-align: center;
}

.im {
   background-color: #e7d5c3;
   border-color: #654321;
   font-weight: bold;
}

#formulario2 {
   background-image: url(../images/blanco2.webp);
   opacity: 0.70;
   width: 100%;
   font-weight: bold;

}

#contacts {
   width: 100%;
   background-image: url(../images/planosazulados.jpg);
   opacity: 0.70;
   font-weight: bold;
   font-family: 'Dosis', sans-serif;
   margin-top: 3em;
}

#contactanos {
   width: 100%;
   background-color: rgb(235, 237, 238);
   opacity: 0.70;
   font-family: 'Dosis', sans-serif;

}

.mapa iframe {
   width: 100%;
   aspect-ratio: 1.2;
}

.proyecticon {
   object-fit: cover;
   border: 1px solid rgb(198, 196, 202);
   align-items: center;
   display: flex;
   justify-content: space-evenly;
   margin-left: 7.5em;
   margin-top: 3em;
   margin-bottom: 1em;
}

#tablita {
   margin: 0;
   padding: 0;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url(../images/dibujoplanos1.jpg);
}


.custom-gray-btn {
   background-color: #343a40;
   border-color: #343a40;
   color: white;
}

.jj {
   font-family: 'Dosis', sans-serif;
}

.scroll_section {
   scroll-margin-top: 60px;
}

footer {
   font-family: 'Dosis', sans-serif;
   background-color: rgb(224, 224, 240);
}